body {
    background-color: #696969;
}

#container {
    display: grid;
    width:30vw;
    height: 30vw;
    background-color: white;
    border-style: solid;
    margin:auto;
}

#buttons {
    width: 30vw;
    margin:auto;
}

#heading {
    margin:auto;
    width: 50%;
    text-align: center;
}

#content {
    display: grid;
}